{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.contact.firstname }} {{ user.contact.lastname }} | Athelas {% endblock %}

{% block body %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Mon profil</h3>
                    {# <p class="text-subtitle text-muted">Remplissez les champs pour ajouter une enterprise au carnet d'entreprises.</p> #}
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Profil de {{ user.contact.firstname}} {{ user.contact.lastname}} </a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img src="/assets/images/faces/1.b3a5b17d.jpg" alt="Face 1" />
                                </div>
                                <div class="ms-3 name">
                                    <h5 class="font-bold">{{ user.contact.firstname }} {{ user.contact.lastname }}</h5>
                                    <h6 class="text-muted mb-0">{{ user.positionCompany }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>E-mail</th>
                                                <td>{{ user.contact.email }}</td>
                                            </tr>
                                            <tr>
                                                <th>Téléphone</th>
                                                <td>{{ user.contact.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Adresse</th>
                                                <td>{{ user.contact.address }}</td>
                                            </tr>
                                            <tr>
                                                <th>Code postal</th>
                                                <td>{{ user.contact.zipCode }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ville</th>
                                                <td>{{ user.contact.city }}</td>
                                            </tr>
                                            <tr>
                                                <th>Pays</th>
                                                <td>{{ user.contact.country }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-12 d-flex justify-content-start mt-4">
                                        <a href="{{ path('profile_edit', {'id': user.id}) }}"><button class="btn btn-primary me-3">Modifier informations</button></a>
                                        <a href="{{ path('profile_edit_password', {'id': user.id}) }}"><button class="btn btn-primary me-3">Changer mot de passe</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body py-4 px-4">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#legalModal">Politique de confidentialité</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Legal modal -->

        <div class="modal fade" id="legalModal" tabindex="-1" role="dialog"
            aria-labelledby="legalModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="legalModalTitle">Politque de confidentialité</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Biscuit powder jelly beans. Lollipop candy canes croissant icing
                            chocolate cake. Cake fruitcake
                            powder pudding pastry
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy
                            gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops
                            danish dessert I love
                            caramels powder
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                            Lollipop candy canes
                            croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.Biscuit powder jelly beans.
                            Lollipop candy canes croissant
                            icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                            Lollipop candy canes
                            croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.
                        </p>
                                                <p>
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.Biscuit powder jelly beans.
                            Lollipop candy canes croissant
                            icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                            Lollipop candy canes
                            croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.
                        </p>
                                                <p>
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.Biscuit powder jelly beans.
                            Lollipop candy canes croissant
                            icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans.
                            Lollipop candy canes
                            croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                        </p>
                        <p>
                            Tootsie roll oat cake I love bear claw I love caramels caramels halvah
                            chocolate bar. Cotton
                            candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon
                            drops danish dessert I
                            love caramels powder.
                        </p>
                        <p>
                            Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake.
                            Cupcake dessert icing
                            dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy
                            candy canes lollipop liquorice
                            chocolate marzipan muffin pie liquorice.
                        </p>
                        <p>
                            Powder cookie jelly beans sugar plum ice cream. Candy canes I love
                            powder sugar plum tiramisu.
                            Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops
                            apple pie sesame snaps
                            tootsie roll carrot cake soufflé halvah.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Accept</span>
                        </button>
                        <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
