<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('app-dark') }}
    {{ encore_entry_link_tags('auth') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="shortcut icon" href="{{asset('assets/images/logo/athelas-favicon.svg')}}" type="image/x-icon">
</head>

<body>
    <div id="auth">
        {% block body %}{% endblock %}
    </div>
</body>

{{ encore_entry_script_tags('app') }}
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
{{ encore_entry_script_tags('notyf') }}
</html>