{% set base_layout = 'app' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesfirst %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('app-dark') }}
    {% block styles %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('assets/images/logo/athelas-favicon.svg') }}" type="image/x-icon">
</head>
<body>
<div id="{{ base_layout }}">
    <div id="sidebar" class="active">
        {% include "components/_sidebar.html.twig" %}
    </div>
    <div id="main" class="navbar-fixed layout-navbar">
        <header class="mb-3">
            {% include "components/_navbar.html.twig" %}
        </header>
        <div id="main-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
{% block js %}{% endblock %}
</body>
</html>