{% extends 'base.html.twig' %}
{% block title %}Mon tableau de bord | Athelas{% endblock %}
{% block body %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Mon tableau de bord</h3>
                    <p class="text-subtitle text-muted">The default layout.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('dashboard')}}">Dashboard</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="row match-height">
                <div class="col-md-3 col-12 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img src="/assets/images/faces/1.b3a5b17d.jpg" alt="Face 1">
                                </div>
                                <div class="ms-3 name">
                                    <h5 class="font-bold">{{ app.user.contact.firstname }} {{ app.user.contact.lastname }}</h5>
                                    <h6 class="text-muted mb-0">{{ app.user.positionCompany }}</h6>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-start mt-4">
                                <a href="{{ path('profile', {'id': app.user.id}) }}"><button class="btn btn-primary me-3">Voir mon profil</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Mes événements</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="calendar" class="my-3"></div>
                                    <a href="{{ path('calendar') }}"><button class="btn btn-primary me-3">Voir tous mes événements</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recent contacts section -->

        <section class="section">
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Contacts récemment ajoutés</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Type de contact</th>
                                                <th>Entreprise</th>
                                                <th>E-mail</th>
                                                <th>Téléphone</th>
                                                <th>Code postal</th>
                                                <th>Ville</th>
                                                <th>Actions<th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for contact in contacts %}
                                            <tr>
                                                <td class="text-bold-500">{{ contact.firstname }}</td>
                                                <td class="text-bold-500">{{ contact.lastname }}</td>
                                                <td class="text-bold-500">{{ contact.jobposition }}</td>
                                                <td class="text-bold-500">{{ contact.company.name|default('') }}</td>
                                                <td class="text-bold-500">{{ contact.email }}</td>
                                                <td class="text-bold-500">{{ contact.phone }}</td>
                                                <td class="text-bold-500">{{ contact.zipcode }}</td>
                                                <td class="text-bold-500">{{ contact.city }}</td>
                                                <td>
                                                    <a href="{{ path('contacts_show', {'id': contact.id}) }}"><button class="btn btn-secondary me-1">Voir</button></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 d-flex justify-content-start mt-2">
                                    <a href="{{ path('contacts_index') }}"><button class="btn btn-primary me-3">Voir tous les contacts</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recent companies section -->

        <section class="section">
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Entreprises récemment ajoutées</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>E-mail</th>
                                                <th>Téléphone</th>
                                                <th>Adresse</th>
                                                <th>Code postal</th>
                                                <th>Ville</th>
                                                <th>Actions<th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for company in companies %}
                                            <tr>
                                                <td class="text-bold-500">{{ company.name }}</td>
                                                <td class="text-bold-500">{{ company.email }}</td>
                                                <td class="text-bold-500">{{ company.phone }}</td>
                                                <td class="text-bold-500">{{ company.address }}</td>
                                                <td class="text-bold-500">{{ company.zipcode }}</td>
                                                <td class="text-bold-500">{{ company.city }}</td>
                                                <td>
                                                    <a href="{{ path('companies_show', {'id': company.id}) }}"><button class="btn btn-secondary me-1">Voir</button></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div id="calendar" class="mt-2"></div>
                                    <a href="{{ path('companies_index') }}"><button class="btn btn-primary me-3">Voir toutes les entreprises</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block js %}
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js "></script>
    {{ encore_entry_script_tags('calendar-profile') }}
{% endblock %}